In [1]:
# Q1. Explain with an example each when to use a for loop and a while loop.

# ans Q1 :
    
#     when we have specific number we use for loop
#     when we don't have specific number , we have condition then we use while loop

In [9]:
#  ex for loop:

l = [1,2,3,4,5]
for i in l :
    print(i)
    
#  for loop run specific n number of time

1
2
3
4
5

In [15]:
#ex while loop:
u_input  = int(input("enter number below 100 :"))

while u_input <100:
    print(u_input)
    u_input = u_input + 1
    
    
    
#  while loop depend on user input . we can not say that a what number of time while loop run .

enter number below 100 :99
99

In [16]:
# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for and while loop.

In [20]:
## using for loop

#  sum of first 10 natural number 

sum = 0 
for i in range(11):
    sum = sum + i
    
print("the sum is :" + str(sum))

#  product of first 10 natural number 

mul = 1 

for i in range(1,11):
    mul = mul *i
    
print("the multiplication is :" + str(mul))

the sum is :55
the multiplication is :3628800

In [21]:
## using while loop

sum =0 
mul= 1

#  for 10  natural number sum 

i = 1
while i<=10:
    sum = sum + i
    mul = mul *i
    
    i = i +1
    
print(sum)
print(mul)

55
3628800

In [4]:
# Q3. Create a python program to compute the electricity bill for a household.
# The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
# unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
# be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
# You are required to take the units of electricity consumed in a month from the user as input.
# Your program must pass this test case: when the unit of electricity consumed by the user in a month is
# 310, the total electricity bill should be 2250.

In [58]:
unit  = int(input("enter consumed number of unti per months :"))

total_bill = 0 

if unit <=100 :
    total_bill = unit*4.5
elif (unit>100 and unit<=200):
    c1_u = unit-100
    total_bill = 100*4.5 + c1_u*6
elif (unit>200 and unit<=300):
    c2_u = unit-200
    total_bill = 100*4.5 + 100*6 + c2_u*10
elif (unit>300):
    c3_u = unit-300
    total_bill = 100*4.5 + 100*6 + 100*10 + c3_u*20

    

print("user total bill : " + str(total_bill))

enter consumed number of unti per months :310
user total bill : 2250.0

In [5]:
# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
# number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
# that list.

In [31]:
l = []

for i in range(1,101):
    l.append(i)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [36]:
#  using for loop
l1 = []
for i in l:
    j = (i**3)
    if (j%4==0 or j%5 ==0):
        l1.append(j)

In [37]:
l1

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [43]:
#  using while loop
l2 = []
k = 0
while k <len(l):
    j = l[k]**3
    if (j%4==0 or j%5 ==0):
        l2.append(j)
    k = k+1

In [57]:
l2

[8,
 64,
 125,
 216,
 512,
 1000,
 1728,
 2744,
 3375,
 4096,
 5832,
 8000,
 10648,
 13824,
 15625,
 17576,
 21952,
 27000,
 32768,
 39304,
 42875,
 46656,
 54872,
 64000,
 74088,
 85184,
 91125,
 97336,
 110592,
 125000,
 140608,
 157464,
 166375,
 175616,
 195112,
 216000,
 238328,
 262144,
 274625,
 287496,
 314432,
 343000,
 373248,
 405224,
 421875,
 438976,
 474552,
 512000,
 551368,
 592704,
 614125,
 636056,
 681472,
 729000,
 778688,
 830584,
 857375,
 884736,
 941192,
 1000000]

In [20]:

# Q5. Write a program to filter count vowels in the below-given string.
# string = "I want to become a data scientist"

In [45]:
string = "I want to become a data scientist"

In [60]:
count = 0 
i = 0
while i <len(string):
    if (string[i].lower()==('a') or string[i].lower()==('e') or string[i].lower()==('i') or string[i].lower()==('o') or string[i].lower()==('u')):
        count =count +1
    i = i+1
print(count)

12